.form-header {
    display: flex ; 
    justify-content: space-between ;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  };

.label-style {
    margin-bottom: 5px,
}

.input-style {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.select-style {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px,
}
.button-style {
    padding: 10px 15px;
    margin: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  };

.error-message {
    color: red;
}

